body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    transition: background-color 0.4s;
    color: #333;
    /* 设置默认文本颜色 */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.4s;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.4s;
}

footer:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: inherit;
    /* 保持超链接的原有颜色 */
}
